body {
	margin: 0;
	padding: 0;
	background-color: #25151e;
	user-select: none;
	font-size: 12px;
}
header {
	padding: 10px 20px;
	position: fixed;
	background-color: #522c44;
	top: 0;
	width: 100%;
	z-index: 10;
}
main {
	padding: 10px 20px;
}
span {
	display: inline-block;
	white-space: pre;
}
select {
	box-sizing: content-box;
	height: 30px;
}
[type=text] {
	text-align: right;
	box-sizing: content-box;
	height: 20px;
}
[type=text]:focus {
	text-align: left;
}
label, select, [type] {
	cursor: pointer;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.plr {
	padding-left: 5px;
	padding-right: 5px;
}
.pl {
	padding-left: 5px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.gap5 {
	gap: 5px;
}
.gap10 {
	gap: 10px;
}

/* トグルボタンここから */
.tglbutton {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	background-color: #24f760;
	cursor: pointer;
	text-shadow: 0px 0px 4px #000;
	opacity: .6;
}
.tglbutton:hover {
	opacity: .8;
}
.toggle-button {
	display: flex;
}
.toggle-button label {
	display: flex;
}
.toggle-button span {
	display: flex;
	align-items: center;
}
.toggle-button [type] {
	display: none;
}
.toggle-button :not(:last-child) .tglbutton {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.toggle-button :not(:first-child) .tglbutton {
	border-left: 1px solid #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.toggle-button :checked + .tglbutton {
	opacity: 1;
}
.toggle-button :disabled + .tglbutton {
	cursor: not-allowed;
	opacity: .6;
}
.toggle-button img {
	border-radius: 6px;
	float: left;
	display: block;
	opacity: .4;
	border: 3px solid #999;
}
.toggle-button :hover ~ img {
	opacity: .8;
}
.toggle-button :checked ~ img {
	opacity: 1;
	border: 3px solid #ff0;
}
.toggle-button :disabled ~ img {
	cursor: not-allowed;
	opacity: .4;
}
/* トグルボタンここまで */

.cloned {
	background-color: #fff;
}
.header {
	background-color: #ff9;
	border-bottom: 1px solid #000;
	font-weight: bold;
}
.flexwrap.title :first-child {
	margin-right: auto;
	padding-right: 10px;
}
.data:nth-child(odd) {
	background-color: #dfe;
}

.hide {
	display: none;
}
.hide2 {
	visibility: hidden;
	pointer-events: none;
}

.value1 {
	font-size: 0;
}
.value1:before {
	font-size: 12px;
	content: attr(data-value1);
}
.value2 {
	font-size: 0;
}
.value2:before {
	font-size: 12px;
	content: attr(data-value2);
}
.value3 {
	font-size: 0;
}
.value3:before {
	font-size: 12px;
	content: attr(data-value3);
}
.value4 {
	font-size: 0;
}
.value4:before {
	font-size: 12px;
	content: attr(data-value4);
}
.value5 {
	font-size: 0;
}
.value5:before {
	font-size: 12px;
	content: attr(data-value5);
}

.q0 {
	background-color: #b2b2b2;
}
.q1 {
	background-color: #60ff9c;
}
.q2 {
	background-color: #5df8ff;
}
.q3 {
	background-color: #d342ff;
}
.q4 {
	background-color: #ffe250;
}

/* ラベルに説明文表示 ここから */
[description] {
	position: relative;
}
[description]:before {
	background-color: #ccf;
	border-radius: 3px;
	color: #333;
	content: attr(description);
	font-size: 12px;
	left: 20px;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: absolute;
	top: 60px;
	white-space: pre;
	z-index: 1;
}
[description]:hover:before {
	opacity: 1;
}
/* ラベルに説明文表示 ここまで */

.onkeep {
	font-size: 0;
}
.onkeep:after {
	font-size: 12px;
	color: #f00;
	content: "注";
}
.caution {
	color: #f00;
}
.information {
	border-radius: 6px;
	background-color: #fff;
	color: #333;
	padding: 10px;
}
